body {
    /* width: 1080px;
    height: 1920px; */
    margin: 0;
    border: 0;
    /* border-width: 0px;
     border-style: hidden */
    background-image: url(../img/Pantallazo6.png);
    background-size: cover;
}

.main {
    width: 100%;
    height: 100%;
}


/* ----------------INDEX---------------- */

#index {
    background-image: url(../img/index/Pantallazo1.png);
    background-size: cover;
}

.logoimg {
    width: 200px;
    height: 200px;
}

.rowbuttonIndex {
    width: 100%;
    height: 100%;
}

.seccionbuttonIndex {
    text-align: center;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

.imgbuttonIndex {
    height: 50px;
    width: 140px;
}


/* --------------------------------Estadisticas----------------------------------- */

.rowestadisticas table {
    margin-left: auto;
    margin-right: auto;
    border: solid;
}

.tablatituloimg {
    width: 10%;
    /* height: 50px; */
}

.tablaimg {
    position: absolute;
    top: 2%;
    left: 30%;
    width: 450px;
    height: 600px;
}


/* ----------------------------------JUEGO---------------------------------------- */

.botonesatras {
    width: 110px;
    height: 60px;
    margin-top: 5%;
    /* width: 100px;
height: 100px; */
}

#columnasbotonestras {
    text-align: center;
}

.mainjuego {
    /* background: black; */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    /* background: transparent; */
    /* top: 15%;
    left: 15%;
    bottom: 15%;
    right: 15%;  */
    /* margin: 0px; */
    /* display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto; */
}

.tablero {
    /* background: red; */
    display: inline-flex;
    /* height: 600px; */
    width: 90%;
    justify-content: center;
    align-items: center;
    /* background: yellow; */
    /* position:absolute; */
    /* top: 20%; */
    /* top: 15%;
    left: 15%;
    bottom: 15%;
    right: 15%;  */
    /* margin: 0px; */
    /* margin-left: auto;
    margin-right: auto; */
    /* margin-top: auto;
    margin-bottom: auto; */
}

.colTablero {
    background-size: cover;
    display: inline-block;
    margin: 0;
    /* margin-left: 0px;
    margin-right: 0px; */
    cursor: pointer;
    /* background: transparent; */
    text-align: center;
    /* background: yellow; */
}

.contenedorElementoFicha {
    /* display:flex; */
    /* background: white; */
    width: 80px;
    height: 80px;
    line-height: 0;
    border: 0px;
}

.contenedorElementoFicha img {
    /* display:inline-block; */
    line-height: 0;
    background: transparent;
    margin: 0px;
    width: 100%;
    height: 100%;
    border-style: none;
    vertical-align: bottom;
    /* border-radius: 100%; */
}

#a13 {
    width: 100px;
    height: 100px;
}

/* ------------------------Como Jugar ---------------------- */
 
#comojugarseccion{
    display: none;
    background-image: url(../img/comojugar/Fondo\ ventana.png);
    background-size: cover;
    position: absolute;
    width: auto;
    left: 10%;
    right: 10%;
    top: 20%;
    bottom: 20%;
    border-radius: 2%;
}

#comojugarmain{
    /* margin-top: 20%; */
    margin-bottom: auto;
    display: inline-flexbox;
    width: 100%;
    height: auto;
    text-align: center;
    border-radius: 2%;
}

#imgcomojugarx{
    margin-top: 10%;
    width: 82px;
    height: 85px;
}

#imgcomojugartexto{
    margin-top: 10%;
    width: 738px;
    height: 498px;
}

#imgcomojugarfichas{
    margin-top: 10%;
    width: 666px;
    height: 172px;
}

/* ------------------------acerca de ---------------------- */
#imgacercade{
    width: 692px;
    height: 596px;
}



@media (width: 1080px) and (height: 1920px) {
    /* index */
    .logoimg {
        width: 350px;
        height: 350px;
    }
    .seccionbuttonIndex {
        text-align: center;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
    }
    .imgbuttonIndex {
        height: 128px;
        width: 412px;
    }
    #index {
        background-image: url(../img/mediaQuerys/1080x1920/Fondob.png);
        background-size: cover;
    }
    .mainindex {
        margin-top: 40%;
    }
    /*Juego*/
    #juego {
        background-image: url(../img/mediaQuerys/1080x1920/Fondoa.png);
        background-size: cover;
    }
    .contenedorElementoFicha {
        width: 140px;
        height: 140px;
        border: 0px;
    }
    .tablero {
        display: inline-flex;
        width: 90%;
        justify-content: center;
        align-items: center;
        margin-left: 50px;
        /*margin-right: auto; */
        margin-top: 20%;
        /* margin-bottom: auto; */
    }
    .botonesatras {
        width: 275px;
        height: 150px;
        margin-top: 30%;
        /* margin-left: 10px;
        margin-right: 20px; */
    }
    #columnasbotonestras {
        text-align: center;
    }
}


/* @media (min-width: 360px) and (min-height: 740px) {
    #index{
        background-image: url(../img/mediaQuerys/1080x1920/Fonda.png);
        background-size:cover;
    }

    #juego{
        background-image: url(../img/mediaQuerys/1080x1920/Fondb.png);
        background-size:cover;
    }
} */