
body{
    /* width: 1080px;
    height: 1920px; */
     margin: 0;
     border: 0;
     /* border-width: 0px;
     border-style: hidden */
 
    background-image: url(../img/Pantallazo6.png);
    background-size:cover;

   

    
     
    
}

.main{
width: 100%;
height: 100%;
}

/* ----------------INDEX---------------- */

#index{
    background-image: url(../img/index/Pantallazo1.png);
    background-size:cover;
}
.logoimg{
    
    width: 200px;
    height: 200px;
}


.rowbuttonIndex{
    width: 100%;
    height: 100%;
  
    
}


.seccionbuttonIndex{
    text-align: center;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

.imgbuttonIndex{
    height: 50px;
    width: 140px;
}

/* --------------------------------Estadisticas----------------------------------- */

.rowestadisticas table{
    margin-left: auto;
    margin-right: auto;
    border: solid;
}

.tablatituloimg{
  width: 10%;
  /* height: 50px; */
}

.tablaimg{
    position: absolute;
    top: 2%;
    left: 30%;
    width: 450px;
    height: 600px;
}

/* ----------------------------------JUEGO---------------------------------------- */

.botonesatras{
width: 110px;
height: 60px;
margin-top: 5%;

/* width: 100px;
height: 100px; */
}

#columnasbotonestras{
    text-align: center;

}

.mainjuego{
    /* background: black; */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    
    /* background: transparent; */
    
    /* top: 15%;
    left: 15%;
    bottom: 15%;
    right: 15%;  */

    /* margin: 0px; */
    /* display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto; */
    
}

.tablero{
    /* background: red; */
    display: inline-flex;
    /* height: 600px; */
    width: 90%; 
    justify-content: center;
    align-items: center;
    
    /* background: yellow; */
    /* position:absolute; */
    /* top: 20%; */
    /* top: 15%;
    left: 15%;
    bottom: 15%;
    right: 15%;  */

    /* margin: 0px; */
    
    /* margin-left: auto;
    margin-right: auto; */
    /* margin-top: auto;
    margin-bottom: auto; */
}

.colTablero{
    /* background-image: url(../img/Huecos.png); */
    background-size: cover;
    display: inline-block;
    margin: 0;
    /* margin-left: 0px;
    margin-right: 0px; */
    cursor: pointer;
    /* background: transparent; */
    text-align: center;
    /* background: yellow; */
   
}

.contenedorElementoFicha{
    /* display:flex; */
    /* background: white; */
    width: 80px;
    height: 80px;
    line-height: 0;
    border: 0px;
    /* background: white; */
    /* border-radius: 100%; */
    /* background: transparent;
    background-image: transparent; */
}

.contenedorElementoFicha img{
    /* display:inline-block; */
    line-height: 0;
    background: transparent;
    margin: 0px;
    width: 100%;
    height: 100%;
    border-style: none;
    vertical-align: bottom;
    /* border-radius: 100%; */

}


#a13{
    width: 100px;
    height: 100px;
}


@media (min-width: 1000px) and (max-width: 1200px) {

    .logoimg{
    
        width: 350px;
        height: 350px;
    }

    .seccionbuttonIndex{
        text-align: center;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .imgbuttonIndex{
        height: 128px;
        width: 412px;
    }

    .contenedorElementoFicha{
        width: 130px;
        height: 130px;
        line-height: 0;
        border: 0px;
    }

    body{
        background-image: url(../img/mediaQuerys/1080x1920/Fondob.png);
        background-size:cover;
    }

    #juego{
        background-image: url(../img/mediaQuerys/1080x1920/Fondoa.png);
        background-size:cover;
    }
}
